{% extends 'base.html.twig' %}

{% block title %}Dashboard!{% endblock %}

{% block body %}
<div class="container">
   {{ include('student/_menu.html.twig', {'student': student}) }}
   {{ include('student/_lessons.html.twig', {'members': members,
    'modal': modal, 'qr': qr, 'student': student}) }}

<div class="window vanish">
    <div class="popup">
        <div class="bar">
            <span class="close" id="close" >X</span>
        </div>
        <div class="content">
        ici le contenu
        </div>
    </div>
</div>
</div>
<script>
    const close = document.querySelector("#close");
    const win = document.querySelector(".window");
    const contenus = document.querySelectorAll(".contenu");
    const container = document.querySelector(".content");
    close.addEventListener('click',()=>{
        win.classList.add('vanish');
    });
    const transformData= (inputs) =>{
        let formulaire =`<form method='post' action='{{path('app_questionnaire_answer')}}'>`
        let studentId = '';
        let lessonId = '';
        let contenuId = '';
        let index = 0;
        inputs.forEach((el)=>{
            const question = el.getAttribute("data-question");
            const response = el.getAttribute("data-reponse");
            const assertion1 = el.getAttribute("data-assertion1");
            const assertion2 = el.getAttribute("data-assertion2");
            const assertion3 = el.getAttribute("data-assertion3");
            const questionId = el.getAttribute("data-id");
            studentId = el.getAttribute("data-student");
            lessonId = el.getAttribute("data-lesson");
            contenuId = el.getAttribute("data-contenu");
            // console.log(question, response, assertion1);
            if(question===null || response===null || assertion1===null) return "";
            
            formulaire+=`<div>
            <h3 class="display-4">${question}</h3>
            <div class="p-3 fs-4">
            <div class="form-check">
                <input class="form-check-input" required type='radio' id="flexRadioDefault1" name='question${index}' value="${assertion1}"/>
                <label class="form-check-label" for="flexRadioDefault1">
                    ${assertion1}
                </label>
            </div>
            <div class="form-check">
            <input class="form-check-input" required type='radio' id="flexRadioDefault2" name='question${index}' value="${assertion2}"/>
            <label class="form-check-label" for="flexRadioDefault2">
                ${assertion2}
            </label>
            </div>
            <div class="form-check">
            <input class="form-check-input" required type='radio' id="flexRadioDefault3" name='question${index}' value="${assertion3}"/> 
            <label class="form-check-label" for="flexRadioDefault3">
                ${assertion3}
            </label>
            </div>
            <div class="text-center">
                
                <input type='hidden' name='idQuestion${index}' value='${questionId}'/>
            </div>
            </div>`;
            index++;
        });
        formulaire+=`<div class="text-center">
        <input type='hidden' name='idLesson' value='${lessonId}'/>
        <input type='hidden' name='idContenu' value='${contenuId}'/>
        <input type='hidden' name='idStudent' value='${studentId}'/>
        <input type='hidden' name='numberOfQuestions' value='${index}'/>
        <input type='submit' value='Soummetre' class="btn btn-primary mt-4 fs-4"/>
        </div></form>`;
        return formulaire;
    }
    contenus.forEach((contenu)=>{
        contenu.addEventListener('click', ()=>{
            const type = contenu.getAttribute('data-type');
            let title = contenu.getAttribute('data-title');
            const consigne = contenu.getAttribute('data-consigne');
            const consignes= consigne.split('--');
            const supplement ='<h3>'+consignes[0]+'</h3><h3>'+consignes[1]+'</h3>';
            const repetition = parseInt(contenu.getAttribute('data-repetition'));
            const link = 'http://localhost:8000/uploads/contenus/'+contenu.getAttribute('data-link');
            title+=supplement;
            console.log('type', type);
            if(type==='audio') createAudioLecture({link, repetition, container, title} );
            if(type === 'audio' && repetition==='normal') createAudioNormal = ({link, container, title} );
            if(type=== 'video' && repetition === 'normal') createVideoNormal = ({link, container, title} ); 
            if(type==='video') createVideoLecture({link, repetition, container, title} );
            // const t = `#d${contenu.id} input[type='hidden']`;
            const form = document.createElement('div');
            const questions = document.querySelectorAll(`#${contenu.id} .questions input[type='hidden']`)
            console.log('questions:', questions);
            const text = transformData(questions);
            // container.innerHTML += text; 
            // console.log('text:', text);
            form.innerHTML = text;
            container.appendChild(form);
           win.classList.remove('vanish'); 
        })
    })
</script>
{% endblock %}
