{% extends 'base.html.twig' %}

{% block title %}Thanks{% endblock %}

{% block body %}
    <h1 class="display-1">Merci d'avoir repondu à cet questionnaire, vous pouvez passer au suivant</div>
{% endblock %}